---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogFilter from "../../components/BlogFilter.jsx";

// 1. Obtener todos los posts
const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// 2. Extraer todos los tags únicos para el filtro
const allTags = [...new Set(posts.flatMap((post) => post.data.tags))].sort();
---

<Layout title="Blog Archivo | Daridius">
    <div class="py-12">
        <!-- React Component para filtrado dinámico -->
        <BlogFilter client:load posts={posts} allTags={allTags} />
    </div>
</Layout>
