---
import Layout from "../../layouts/Layout.astro";
import AppCard from "../../components/AppCard";

const apps = [
    {
        title: "Experimento de la Taza",
        description:
            "Experimento que pone en evidencia el pobre diseño de las tazas.",
        href: "/aplicaciones/stack-game",
    },
];
---

<Layout title="Aplicaciones | Daridius">
    <div class="pt-6 space-y-8">
        <header>
            <h1 class="text-4xl font-black text-white tracking-tighter mb-4">
                Aplicaciones
            </h1>
        </header>

        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {
                apps.map((app) => (
                    <AppCard
                        title={app.title}
                        description={app.description}
                        href={app.href}
                        client:load
                    />
                ))
            }
        </section>
    </div>
</Layout>
