---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
---

<Layout title="Blog | daridius">
    <section class="blog-container">
        <header class="blog-header">
            <h1>Bitácora</h1>
            <p>Relatos y reflexiones.</p>
        </header>

        <BlogList />
    </section>
</Layout>

<style>
    .blog-container {
        padding: 6rem 0;
    }

    .blog-header {
        margin-bottom: 4rem;
        text-align: left;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        letter-spacing: -0.02em;
        background: linear-gradient(to bottom, #ffffff, #888888);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 1.25rem;
        opacity: 0.5;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2.5rem;
        }
    }
</style>
