---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Rincón de Daridius</h1>
			<p>
				Una página para desahogar los pensamientos más retorcidos de una
				mente enajenada. Me gusta compartir mis ideas y, aunque sean
				malas, opino que opinar es necesario, porque tengo inteligencia
				y por eso siempre opino.
			</p>
			<p>
				He adquirido el mal hábito de no terminar lo que empiezo; espero
				que esta sea la excepción.
			</p>
		</main>
	</body>
</html>
