---
import Layout from "../../layouts/Layout.astro";
import OtherCard from "../../components/OtherCard";

const perfectClearsDates = ["6 de enero, 2026", "10 de enero, 2026"];
---

<Layout title="Registros | Daridius">
    <div class="pt-6 space-y-8">
        <header>
            <h1 class="text-4xl font-black text-white tracking-tighter mb-4">
                Registros
            </h1>
            <p class="text-white/50 font-medium">Desde el 2026</p>
        </header>

        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <OtherCard
                title="10 PC en Tetr.io"
                href="/registros/tetris-perfect-clears"
                client:load
            >
                <div class="h-full flex flex-col justify-between">
                    <div class="space-y-4">
                        <p class="text-white/60">Última vez logrado:</p>
                        <div class="text-2xl font-black text-white">
                            10 de enero, 2026
                        </div>
                    </div>
                    <div
                        class="pt-6 text-xs text-white/40 uppercase tracking-widest font-bold mt-auto"
                    >
                        <span>Ver lista</span>
                    </div>
                </div>
            </OtherCard>
            <OtherCard
                title="Libros Leídos"
                href="/registros/libros"
                client:load
            >
                <div class="h-full flex flex-col justify-between">
                    <div class="space-y-4">
                        <p class="text-white/60">Última lectura:</p>
                        <div
                            class="text-xl font-black text-white leading-tight"
                        >
                            Desperdicio Militar Obligatorio
                        </div>
                    </div>
                    <div
                        class="pt-6 text-xs text-white/40 uppercase tracking-widest font-bold mt-auto"
                    >
                        <span>Ver lista</span>
                    </div>
                </div>
            </OtherCard>
            <OtherCard
                title="Chacotero Sentimental"
                href="/registros/chacotero-sentimental"
                client:load
            >
                <div class="h-full flex flex-col justify-between">
                    <div class="space-y-4">
                        <p class="text-white/60">
                            Canciones asociadas a blogs:
                        </p>
                        <div class="text-2xl font-black text-white">1</div>
                    </div>
                    <div
                        class="pt-6 text-xs text-white/40 uppercase tracking-widest font-bold mt-auto"
                    >
                        <span>Ver lista</span>
                    </div>
                </div>
            </OtherCard>
        </section>
    </div>
</Layout>
